@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''), url('/fonts/signika-bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('/fonts/opensans-regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''), url('/fonts/opensans-semibold.woff2') format('woff2');
  }

  body {
    @apply bg-stone-100 font-body text-stone-500 overflow-x-hidden;
  }
}
